<header id="header">
  <div class="inner">
    <a href="<%- url_for() -%>" class="image avatar"><img src="/images/avatar.jpg" alt="" /></a>
    <h1>A blog about computer programming and technology.</h1>
  </div>
</header>
