<header id="header">
  <div class="inner">
    <a href="<%- url_for() -%>" class="image avatar"><img src="/images/avatar.jpg" alt="" /></a>
    <h1>A blog about computer programming and technology.</h1>
    <a href="/about">About</a>
    <div class="booklist">
      <h3>My Books</h3>
      <ul>
        <li><a target="_blank" href="https://www.amazon.ca/ASP-NET-Core-Application-Development-application/dp/1509304061/ref=sr_1_1?ie=UTF8&qid=1496414720&sr=8-1&keywords=simon+timms"><i class="fa fa-book"></i> ASP.NET Core Application Development: Building an application in four sprints</a></li>
        <li><a target="_blank" href="https://leanpub.com/evolvinglegacyaspnetapplications"><i class="fa fa-book"></i> Evolving Legacy ASP.net Applications</a></li>
        <li><a target="_blank" href="http://www.amazon.ca/Mastering-JavaScript-Design-Patterns-Simon/dp/1783987987/ref=sr_1_1?ie=UTF8&amp;qid=1420923161&amp;sr=8-1&amp;keywords=simon+timms"><i class="fa fa-book"></i> Mastering JavaScript Design Patterns</a></li>
        <li><a target="_blank" href="http://www.amazon.ca/Social-Data-Visualization-HTML5-JavaScript-ebook/dp/B00FF8OK0S/ref=sr_1_2?ie=UTF8&amp;qid=1420923161&amp;sr=8-2&amp;keywords=simon+timms"><i class="fa fa-book"></i> Social Data Visualization with HTML5 and JavaScript</a></li>
      </ul>
    </div>
  </div>
</header>
